<EditForm Model="@contact" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Name:</label>
        <div>
            <InputText @bind-Value="@contact.Name" />
            <ValidationMessage For="@(() => contact.Name)" />
        </div>
		<label>Url:</label>
		<div>
			<InputText @bind-Value="@contact.Url" />
			<ValidationMessage For="@(() => contact.Url)" />
		</div>
		<label>Note:</label>
		<div>
			<InputText @bind-Value="@contact.Note" />
			<ValidationMessage For="@(() => contact.Note)" />
		</div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] public Contact contact { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}