<div>
    <EditForm Model="@greenbeaninfo" OnValidSubmit="@OnValidSubmit">
        <DataAnnotationsValidator />
        <MudCard>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Name" @bind-Value="greenbeaninfo.Name" For="@(() => greenbeaninfo.Name)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Crop" @bind-Value="greenbeaninfo.Crop" For="@(() => greenbeaninfo.Crop)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Processing" @bind-Value="greenbeaninfo.Processing" For="@(() => greenbeaninfo.Processing)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Country" @bind-Value="greenbeaninfo.Country" For="@(() => greenbeaninfo.Country)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Region" @bind-Value="greenbeaninfo.Region" For="@(() => greenbeaninfo.Region)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Farmer" @bind-Value="greenbeaninfo.Farmer" For="@(() => greenbeaninfo.Farmer)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="OverallCuppingScore" @bind-Value="greenbeaninfo.OverallCuppingScore" For="@(() => greenbeaninfo.OverallCuppingScore)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Variety" @bind-Value="greenbeaninfo.Variety" For="@(() => greenbeaninfo.Variety)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Url" @bind-Value="greenbeaninfo.Url" For="@(() => greenbeaninfo.Url)" />
                    </MudItem>
                    <MudItem xs="12" sm="6" md="4">
                        <MudTextField Label="Note" @bind-Value="greenbeaninfo.Note" For="@(() => greenbeaninfo.Note)" Lines="4" />
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary">@ButtonText</MudButton>
                <!-- The reset should also reset the contact, i.e., create a new empty contact -->
                <!-- <MudButton ButtonType="ButtonType.Reset" Variant="Variant.Filled" Color="Color.Secondary" Class="col-1">Reset</MudButton> -->
            </MudCardActions>
        </MudCard>
    </EditForm>
</div>

@code { 
    [Parameter] public GreenBeanInfo greenbeaninfo { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}