@page "/roast/detail/{roastid:int}"
@using Newtonsoft.Json
@using CoffeeRoastManagement.Client.Shared.Charts
@using System.Collections.Generic
@using CoffeeRoastManagement.Client.Store.State
@using CoffeeRoastManagement.Client.Store.Features.EditRoast.Actions

@inject HttpClient http
@inject MudBlazor.ISnackbar snackbar
@inject IState<RoastsState> RoastsState
@inject IDispatcher Dispatcher


@if (roast != null)
{
<h3>Roast @roast.Name</h3>
                <MudLink Href="/roast">Back to roasts</MudLink>

                                <MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
                                    <MudGrid>
                                        <MudItem xs="12" sm="6" md="6">
                                            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                                                <MudText>Roast information:</MudText>
                                                <MudText>Short Info: @roast.ShortInfo</MudText>
                                                <MudText>Date: @roast.Date</MudText>
                                                <MudText>Notes: @roast.Note</MudText>
                                            </MudPaper>
                                        </MudItem>
                                        <MudItem xs="12" sm="6" md="6">
                                            <MudPaper Elevation="2" Class="pa-4" Style="height: 200px;">
                                                <MudText>Bean information:</MudText>
                                                @foreach (var b in roast.Beans)
                                                {
                <MudText>@b.StockItem.GreenBeanInfo.Name: @b.Amount kg</MudText>}
                                            </MudPaper>
                                        </MudItem>
                                        <MudItem xs="12" sm="12" md="6">
                                            <MudPaper Elevation="2" Class="pa-4" Style="height: 400px;">
                                                @*<Chart Config="_config" @ref="_chart"></Chart>*@
                                                <SingleRoastProfileChart Id="artisan01" Artisan="artisan"></SingleRoastProfileChart>
                                            </MudPaper>
                                        </MudItem>

                                        <MudItem>
                                            <MudPaper Elevation="2" Class="pa-4" Style="height: 400px;">
                                                <MudText>Artisan information</MudText>
                                                <MudText>Artisan version: @artisan.Title</MudText>
                                                <MudText>Roaster type: @artisan.RoasterType</MudText>
                                                <MudText>Date: @DateTimeOffset.FromUnixTimeSeconds(artisan.RoastEpoch).DateTime</MudText>
                                                <MudText>Artisan version: @artisan.Version</MudText>
                                                <MudText>Turning point bean temp: @artisan.ComputedValues.TurningPointBeanTemp</MudText>
                                                <MudText>Turning point time: @artisan.ComputedValues.TurningPointTime</MudText>
                                                <MudText>First crack start time: @artisan.ComputedValues.FirstCrackStartTime</MudText>
                                                <MudText>First crack start bean temp: @artisan.ComputedValues.FirstCrackStartBeanTemp</MudText>
                                                <MudText>First crack end time: @artisan.ComputedValues.FirstCrackEndTime</MudText>
                                                <MudText>First crack end bean temp: @artisan.ComputedValues.FirstCrackEndBeanTemp</MudText>
                                            </MudPaper>
                                        </MudItem>
                                        <MudItem xs="12" sm="12" md="4">
                                            <MudCardMedia Image="@roast.Photo" />
                                        </MudItem>
                                        <MudPaper Elevation="2" Class="pa-4" Style="height: 400px;">
                                            <CuppingProfileChart Id="cupping01" Artisan="artisan"></CuppingProfileChart>
                                        </MudPaper>

                                    </MudGrid>
                                </MudContainer> }
                            else
                            {
                <p>Loading</p>}

@code { [Parameter]
    public int roastid { get; set; }
    private Roast roast => RoastsState.Value.CurrentRoast;

    private ArtisanFile artisan { get; set; }

    protected override void OnInitialized()
    {
        Dispatcher.Dispatch(new RoastsSetCurrentRoastAction(roastid));
        if (roast.RoastProfile != null)
        {
            artisan = JsonConvert.DeserializeObject<ArtisanFile>(roast.RoastProfile);
        }
    }

    private string FormatAsMinuteSecond(int value)
    {
        var min = value / 60;
        var sec = value % 60;
        return $"{min.ToString("D2")}:{sec.ToString("D2")}";
    } }
